{% extends 'base.html' %}
{% block title %}404 &middot; Page not found{% endblock title %}
{% block content %}
<div class="jumbotron">
  <h2>Uhoh.. it seems we ran into an issue.</h2>
  <p class="lead">We were unable to find the specific page you were looking for. Did you type it wrong? If you are still looking for the page, feel free to drop into our <b><a href="channel/help">#help</a></b> channel and we may be able to provide further assistance.</p>
  <p><a class="btn btn-md btn-warning" href="/" role="button">Go home <i class="fa fa-angle-right"></i></a></p>
</div>
{% endblock content %}