{% extends 'base.html' %}
{% block title %}About Us{% endblock title %}
{% block content %}
<h1>Acceptable Use Policy</h1>
<hr>
<ul class="list-group">
    <li id="1" class="list-group-item">
        <h4><a href="#1">#1</a> Any forms of join, nick, message, or CTCP spamming will not be tolerated.</h4>
    </li>
    <li id="2" class="list-group-item">
        <h4><a href="#2">#2</a> Being rude or insulting over our network is not prohibited between members, or in help-based channels. Anything inter-channel needs to be brought up to the channel founder.</h4>
    </li>
    <li id="3" class="list-group-item">
        <h4><a href="#3">#3</a> Be civil. Harassment, discrimination, and other nonsense will not be tolerated.</h4>
    </li>
    <li id="4" class="list-group-item">
        <h4><a href="#4">#4</a> No bots in #lobby, #help, or #support without prior permission. Bots are welcome in #dev, where you may test your bot, script, etc.</h4>
    </li>
    <li id="5" class="list-group-item">
        <h4><a href="#5">#5</a> Automated file sharing bots, like XDCC, are prohibited.</h4>
    </li>
    <li id="6" class="list-group-item">
        <h4><a href="#6">#6</a> Don't speak about any illegal content, share any illegal content, or suggest any locations of where to find any illegal content.</h4>
    </li>
    <li id="7" class="list-group-item">
        <h4><a href="#7">#7</a> Mark NSFW content [NSFW]. If you have an adult-based channel, ensure to set it as private.</h4>
    </li>
    <li id="8" class="list-group-item">
        <h4><a href="#8">#8</a> Any form of ban evading, may it be proxy, IRC bouncer, etc, to our services, or a channel will get you banned for good.</h4>
    </li>
    <li id="9" class="list-group-item">
        <h4><a href="#9">#9</a> Nick sitting is disallowed, if you find any user doing this, bring it up to #support and we will retro-actively look into the issue.</h4>
    </li>
    <li id="10" class="list-group-item">
        <h4><a href="#10">#10</a> Our ircops and Network Admins are providing their services (and servers, if applicable) free of charge. They are volunteering, treat them as such.</h4>
    </li>
    <li id="11" class="list-group-item">
        <h4><a href="#11">#11</a> Finding any forms of bugs or vulnerabilities with our services, and not notifying an ircop or Network Administrator will get you banned from our services.</h4>
    </li>
</ul>
{% endblock content %}
