{% extends 'base.html' %}
{% block title %}Server List{% endblock title %}
{% block content %}
<h1>Server List</h1>
<hr>
<h4>As we thought of all the things over here at ByteIRC, to join, you can simply use <b>irc.byteirc.org</b>, and this will connect you to the next available server.</h4>
<div class="pad"></div>
<div class="row">
  <div class="col-md-3 text-center">
    <h2 class="text-primary">{{irc.active}}</h2>
    <h4>Users currently online</h4>
  </div>
  <div class="col-md-3 text-center">
    <h2 class="text-warning">{{irc.nicks}}</h2>
    <h4>Nicknames registered</h4>
  </div>
  <div class="col-md-3 text-center">
    <h2 class="text-danger">{{irc.channels}}</h2>
    <h4>Channels registered</h4>
  </div>
  <div class="col-md-3 text-center">
    <h2 class="text-info">{{irc.accounts}}</h2>
    <h4>Accounts registered</h4>
  </div>
</div>
<div class="pad"></div>
<div class="panel panel-success">
  <div class="panel-heading"><i class="fa fa-tasks"></i> Server Information</div>
<!--   <div class="panel-body">
    Currently, all servers listen on ports <b>6667-6669</b> and <b>6697-6699</b> (SSL).
  </div> -->

  <table class="table table-hover">
     <thead>
       <tr>
        <th>Server Hostname</th>
        <th>Location</th>
        <th>Administrator(s)</th>
        <th>IPv4</th>
        <th>IPv6</th>
        <th>Port(s)</th>
        <th>SSL</th>
       </tr>
    </thead>
    <tbody>
    <tr>
      <td>broadwell.byteirc.org</td>
      <td><a href="https://www.google.com/maps/place/Montreal,+QC,+Canada/@45.5601451,-73.7120832,4z">Montreal, Canada (North America)</a></td>
      <td>Liam</td>
      <td><i class="fa fa-check check"></i> Yes</td>
      <td><i class="fa fa-check check"></i> Yes</td>
      <td>6665-6669</td>
      <td><i class="fa fa-check check"></i> (6697)</td>
    <tr>
      <td>haswell.byteirc.org</td>
      <td><a href="https://www.google.com/maps/place/Montreal,+QC,+Canada/@45.5601451,-73.7120832,4z">Montreal, Canada (North America)</a></td>
      <td>Liam</td>
      <td><i class="fa fa-check check"></i> Yes</td>
      <td><i class="fa fa-check check"></i> Yes</td>
      <td>6665-6669</td>
      <td><i class="fa fa-check check"></i> (6697)</td>
    </tr>
    <tr>
      <td>kabylake.byteirc.org</td>
      <td><a href="https://www.google.com/maps/place/Montreal,+QC,+Canada/@45.5601451,-73.7120832,4z">Montreal, Canada (North America)</a></td>
      <td>Liam &amp; Spitfire (Ucl)</td>
      <td><i class="fa fa-check check"></i> Yes</td>
      <td><i class="fa fa-check check"></i> Yes</td>
      <td>6665-6669</td>
      <td><i class="fa fa-check check"></i> (6697)</td>
    </tr>
    <tr>
      <td>services.byteirc.org</td>
      <td><a href="https://www.google.com/maps/place/Montreal,+QC,+Canada/@45.5601451,-73.7120832,4z">Montreal, Canada (North America)</a></td>
      <td>Liam</td>
      <td class="text-info">N/A</td>
      <td class="text-info">N/A</td>
      <td class="text-info">N/A</td>
      <td class="text-info">N/A</td>
    </tr>
  </tbody></table>
</div>

<div class="panel panel-info">
  <div class="panel-heading"><i class="fa fa-support"></i> Service bots</div>
  <table class="table table-hover">
     <thead>
       <tr>
        <th>ID</th>
        <th>Nickname</th>
        <th>Ident</th>
        <th>Hostname</th>
        <th>Description</th>
       </tr>
    </thead>
    <tbody>
    {% for bot in data.bots %}
    <tr>
      <td>{{bot.id}}</td>
      <td><a href="https://www.google.com/search?q={{bot.nick}}">{{bot.nick}}</a></td>
      <td>{{bot.user}}</td>
      <td>{{bot.host}}</td>
      <td>{{bot.description}}</td>
    </tr>
    {% endfor %}
  </tbody></table>
</div>
{% endblock content %}
