{% extends 'base.html' %}
{% block title %}Meet Us{% endblock title %}
{% block content %}
<h1>Meet Us</h1>
<hr>
<h4>Our staff were hand picked with you in mind (<i class="fa fa-heart" style="color: red"></i>). Our staff members will be expicitly following the same guidelines that any other member of this community will be. Below, you find a list of each of our staff members, their roles, and what they are administrating.</h4>
<div class="pad"></div>
<table class="table table-hover">
  <thead><tr>
    <th>Name</th>
    <th>Username</th>
    <th>Location</th>
    <th>Staff Role</th>
    <th>Website</th>
  </tr></thead>
  <tbody>
    <tr>
      <td>Liam (Leum)</td>
      <td><a href="/whois/Liam">Liam</a></td>
      <td><a href="https://www.google.com/maps/place/Michigan/@44.943563,-86.4085867,10z">Michigan, USA</a></td>
      <td>
        <span class="label label-primary">Founder</span>
        <span class="label label-danger">Network Administrator</span>
        <span class="label label-success">Network Operator</span>
      </td>
      <td><a href="https://liamstanley.io">https://liam.sh/</a></td>
    </tr>
    <tr>
      <td>Allen (FM1337)</td>
      <td><a href="/whois/Allen">Allen</a></td>
      <td><a href="https://www.google.com/maps/place/Nova+Scotia,+Canada/@45.3098018,-63.2289932,10z">Nova Scotia, Canada</a></td>
      <td>
        <span class="label label-success">Network Operator</span>
      </td>
      <td><a href="http://fm1337.com/">http://fm1337.com/</a></td>
    </tr>
    <tr>
      <td>UclCommander</td>
      <td><a href="/whois/Spitfire">Spitfire</a></td>
      <td><a href="https://www.google.com/maps/place/Texas/@31.1693363,-100.0768425,10z">Texas, USA</a></td>
      <td>
        <span class="label label-success">Network Operator</span>
      </td>
      <td><a href="http://uclcommander.net/">http://uclcommander.net/</a></td>
    </tr>
    <tr>
      <td>phroa</td>
      <td><a href="/whois/phroa">phroa</a></td>
      <td><a href="https://www.google.com/maps/place/Washington/@47.2755146,-120.8506483,9z">Washington, USA</a></td>
      <td>
        <span class="label label-success">Network Operator</span>
      </td>
      <td><i>N/A</i></td>
    </tr>
  </tbody>
</table>
{% endblock content %}
